.caja {
    border-radius: 20px;
    background: #ffffff;
    width: fit-content;
    align-items: center;
    text-align: center;
    height: fit-content;
    margin: 0 auto;
    border: solid #74d664;
    position: relative;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.3rem 0.05rem rgba(0, 0, 0, 0.38);
}


.title {
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    background: white;
    border: solid #74d664 1px;
}

.title:hover {

    color: #0e0e0e;
}
.checkbox {
    margin-bottom: 130px;
    bottom: 0;
}
.submitButton {
    margin-bottom: 50px;
    bottom: 0;
    width: 75%;
}
.form-check-input:checked {
    background-color: #A9D6A1
}

.separador {
    width: 107%;
    border: solid #74d664 1px;
    opacity: 1;
  

}


textarea {
    font-weight: bold;
    width: 25.5rem;
    height: 8rem;
    font-size: 15px;
    resize: none;
    color: #7d9abb;
    border: solid #74d664 1px;
    border-radius: 5px;
}

    textarea:focus {
        background: #A9D6A1;
        color: black;
    }

    textarea.hover {
        background: #A9D6A1;
        color: black;
    }
.caja-interno {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
}
.radio {
    margin-right: 20px;
}
.deleteList {
    border-radius: 10px;
    margin-top: 10px;
}
.questionList {color: white;
    background-color: #58b04b;
    border-radius: 10px;
    margin-top: 10px;
}

.descripcion{
    height: fit-content !important;
}

.form-control{
    box-shadow: inset 0.1rem 0.1rem 0.2rem 0.05rem rgba(0, 0, 0, 0.35);

}