/*
.registerBody{
    margin: 3rem auto;
    background: #2ab2b9;
    width: 25rem;
    padding: 1rem;
    color: white;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0.1rem 0.1rem 0.2rem #7b7b7b;
}

.formReg{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    padding: 1rem 2rem 0;
}

.formReg div{text-align: center}

button{
    font-size: larger;
    width: 9rem;
    padding: 0.4rem 1rem;
}

input{
    font-size:medium;
    padding: 0.8rem 0.4rem;
    border: none;
    border-radius: 7px;
    box-shadow: 0.1rem 0.1rem 0.2rem #7b7b7b;
}

p{
    text-align: center;
}

label{
    font-size: xx-large;
}*/
