<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Recupera tu contraseña</p>
        <form method="post">
            <div class="input-group mb-3 mt-3">

                <label class="input-group-text" for="email"><fa-icon [icon]="faUser"></fa-icon></label>
                <input type="email" class="form-control" id="email" placeholder="Introduzca su correo" name="email" [(ngModel)]="email" required>
            </div>
            <button type="submit" class="btn btn-primary button" (click)="changePassword()">Recuperar contraseña</button>
        </form>
    </div>
</div>

