<div class="container mt-3">
    <h1>Recuperar contraseña</h1>
    <form method="post" [formGroup]="recoveryForm" novalidate>
        <div class="input-group mb-3 mt-3">
            <label class="input-group-text" for="email"><fa-icon [icon]="faUser"></fa-icon></label>
            <input type="email" class="form-control" id="email" placeholder="Introduzca su correo" name="email" [(ngModel)]="email" formControlName="email" 
                   (blur)="checkValidity('email')" [ngClass]="{ 'is-invalid': recoveryForm.get('email')?.invalid && (recoveryForm.get('email')?.touched || submitted), 'is-valid': recoveryForm.get('email')?.valid && recoveryForm.get('email')?.touched }">
            <div class="invalid-feedback">El correo debe seguir este formato: usuario@ejemplo.com</div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Recuperar contraseña</button>
        <div *ngIf="submitted && recoveryForm.invalid" class="text-danger">Por favor soluciona los errores anteriores.</div>
        <div *ngIf="invalidEmail" class="text-danger">El correo introducido no pertenece a ninguna cuenta.</div>
    </form>
</div>