<div class="porfile">
    <div class="userInfo">
        <img class="userImg" src="" alt="">
        <div>
            <h3>Username</h3>
            <p>{{this.username}}</p>
        </div>
        <div>
            <h3>email</h3>
            <p>{{this.email}}</p>
        </div>
        <div>
            <h3>password</h3>
            <input type="password" placeholder="{{this.password}}" readOnly>
        </div>
    </div>
    <div class="UserEvents">
        <h3>Mis eventos</h3>
        
    </div>
    <div class="UserGames">
        <h3>Mis Juegos</h3>
    </div>
</div>