<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Inicio de sesión</p>
        <form method="post" [formGroup]="logInForm" novalidate>
            <div class="input-group mb-3 mt-3">
                <label class="input-group-text" for="email"><fa-icon [icon]="faUser"></fa-icon></label>
                <input type="email" class="form-control" id="email" placeholder="Introduzca su correo" name="email" [(ngModel)]="email" formControlName="email"
                       (blur)="checkValidity('email')" [ngClass]="{ 'is-invalid': logInForm.get('email')?.invalid && (logInForm.get('email')?.touched || submitted), 'is-valid': logInForm.get('email')?.valid && logInForm.get('email')?.touched }">
                <div class="invalid-feedback">El correo debe seguir este formato: usuario@ejemplo.com</div>        
            </div>
            <div class="input-group mb-3">
                <label for="pwd" class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></label>
                <input type="password" class="form-control" id="pwd" placeholder="Introduzca su contraseña" name="pswd" [(ngModel)]="password" formControlName="password"
                       (blur)="checkValidity('password')" [ngClass]="{ 'is-invalid': logInForm.get('password')?.invalid && (logInForm.get('password')?.touched || submitted), 'is-valid': logInForm.get('password')?.valid && logInForm.get('password')?.touched }">
                <div class="invalid-feedback">La contraseña debe contener 6 caracteres como mínmo.</div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Iniciar sesión</button>
        </form>
        <div *ngIf="submitted && logInForm.invalid" class="text-danger">Por favor soluciona los errores anteriores.</div>
        <div *ngIf="invalidLogin" class="text-danger">El correo o la contraseña son incorrectos.</div>
        <div class="text-left">
            <p><a routerLink="/register">Registrarse</a></p>
            <p><a routerLink="/changePassword">Recuperar contraseña</a></p>
        </div>
    </div>
</div>