<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Inicio de sesión</p>
        <form method="post">
            <div class="input-group mb-3 mt-3">
    
                <label class="input-group-text" for="email"><fa-icon [icon]="faUser"></fa-icon></label>
                <input type="email" class="form-control" id="email" placeholder="Introduzca su correo" name="email" [(ngModel)]="email" required>
            </div>
            <div class="input-group mb-3">
                <label for="pwd" class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></label>
                <input type="password" class="form-control" id="pwd" placeholder="Introduzca su contraseña" name="pswd" [(ngModel)]="password">
            </div>
            <div class="form-check mb-3 label-check">
                <label class="form-check-label ">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary button" (click)="signUp()">Iniciar sesion</button>
           
        </form>
    </div>

    <div class="text-center mt-5 text-white">
        <small>¿Contraseña olvidada? <a routerLink="/changePassword">Recuperar contraseña</a></small>
        <br />
        <small>¿No tienes cuenta? <a routerLink="/register">Registrarse</a></small>
    </div>
</div>
