<!-- Navbar Start -->

<div class="container-fluid position-relative nav-bar p-0">
	<div class="container-lg position-relative p-0 px-lg-3 mx-auto" style="z-index: 9;">
		<nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
			<a href="" class="navbar-brand">
				<h1 class="m-0 text-primary"><span class="text-dark">RACOON</span>GO!</h1>
			</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
				<div class="navbar-nav ml-auto py-0">
					<a href="index.html" class="nav-item nav-link active">Home</a>
					<a href="about.html" class="nav-item nav-link">About</a>
					<a href="service.html" class="nav-item nav-link">Services</a>
					<a href="package.html" class="nav-item nav-link">Tour Packages</a>
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
						<div class="dropdown-menu">
							<a href="#" class="dropdown-item">Web Design</a>
							<a href="#" class="dropdown-item">Web Development</a>
							<a href="#" class="dropdown-item">Graphic Design</a>
							<a href="#" class="dropdown-item">Digital Marketing</a>
						</div>
					</div>
					<a href="contact.html" class="nav-item nav-link">Contact</a>
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- Navbar End -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
