

<div class="caja">
    <div class="caja-interno">
        <h2>Crear Evento</h2>
        <form [formGroup]="addEventForm">
            <table>
                <tr class="iz">
                    <td><label>Título</label></td>
                    <td><label>Edad Recomendada</label></td>
                </tr>
                <tr class="iz">
                    <td>
                        <div class="input-field" [class.error]="addEventForm.controls['title'].dirty && addEventForm.hasError('required', 'title')">
                            <span class="fa fa-globe p-2"></span>
                            <input type="text" formControlName="title" placeholder="Titulo">
                        </div>
                    </td>
                    <td>
                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="fa fa-globe p-2"></span>
                                <input type="number" formControlName="recommendedAge" placeholder="Edad Recomendada">
                            </div>
                        </div>

                    </td>
                </tr>
                <tr class="iz">
                    <td><label>Fecha de Inicio</label></td>
                    <td><label>Fecha de Fin</label></td>
                </tr>
                <tr class="iz">
                    <td>
                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="fa fa-globe p-2"></span>
                                <input type="date" formControlName="startDate">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group pt-3">
                            <div class="input-field">
                                <span class="fa fa-globe p-2"></span>
                                <input type="date" formControlName="endDate" >
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="iz">
                    <td><label>Etiquetas</label></td>
                    <td><label>Ciudad</label></td>
                </tr>
                <tr class="iz">
                    <td>
                        <div style="padding: 7px 0px;">
                            <select multiple (change)="onSelectionChange($event)">
                                <option style="padding: 3px;" *ngFor="let theme of themeList; let i=index" [value]="i">{{theme}}</option>
                            </select>
                        </div>



                    </td>
                    <div>

                    <td class="prueba" >
                        <div  >
                            <input  type="text" formControlName="location" placeholder="Localización">
                        </div>

                    </td>
    </div>
    </tr>


    </table>
    <div>
        <label>Descripción</label>
        <div style="padding:0.5rem;">
            <textarea  class="descriptionText" name="Text1" cols="40" rows="5" formControlName="description"  placeholder="Descripción"></textarea>
        </div>
    </div>

    <div justify-content: center>
        <div style="padding: 10px;">
            <button type="submit" class="boton" (click)="addEvent()">Crear Evento</button>

        </div>
    </div>

    </form>
</div>
    </div>
