<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>

<div class="container-fluid py-5" >
    <div class="container pt-5 pb-3">
	    <div class="text-center mb-3 pb-3">
		    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px; color: var(--primary) !important;">Juegos</h6>
		    <h1>Juegos disponibles</h1>
	    </div>
        
        
	    <search-bar [isEventSearch]=false (parentListUpdate)="onGamesListUpdate($event)"></search-bar>

	    <p style="text-align: center" *ngIf="gamesList.length==0">No hay juegos disponibles.</p>
        <div *ngIf="gamesList.length!=0" class="lista">
            <div *ngFor="let g of gamesList"  style="cursor:pointer">
                    <div class="card"  style="box-shadow: 0 0 10px rgba(0,0,0,0.4); border-radius: 10px !important; height: 100%">
                        <div class="card-header" style="background-color: var(--primary) ">
                            <h4 class="">
                                <span class="badge" [ngClass]="{
                                    'bg-success': g.difficulty === 0,
                                    'bg-warning': g.difficulty === 1,
                                    'bg-danger': g.difficulty === 2
                                }">{{ getDifficultyName(g.difficulty) }}</span>
                                <div *ngIf="user && g.email==user.email" class="float-right">
                                    <button class="btn btn-secondary btn-sm" (click)="updateGame(g)">
                                        <fa-icon [icon]="faPenSquare"></fa-icon>
                                    </button>
                                    <button class="btn btn-danger btn-sm" (click)="deleteGame(g)">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </button>
                                    <button class="btn btn-sm" style="background-color: #3b0b93; color: white" (click)="statisticsGame(g)">
                                        <fa-icon [icon]="faChartBar"></fa-icon>
                                    </button>
                                </div>
                            </h4>
                            <h4 class="card-title" style="color: white">{{ g.name }} </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ g.description }}</p>
                            
                        </div>
                        <div style="padding: 0.5rem; display: flex; justify-content: center">
                            <button class="btn btn-primary" style="background-color: var(--primary); padding: 0.25rem 20%" (click)="user!=null?goToGame(g):login()">Jugar</button>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>