<div class="container mt-3">
    <h1>Registrarse como empresa</h1>
    <form method="post">
        <div class="input-group mb-3 mt-3">
            <label class="input-group-text" for="email">@</label>
            <input type="email" class="form-control" id="email" placeholder="Introduzca su correo" name="email" [(ngModel)]="email" required>
        </div>
        <div class="input-group mb-3 mt-3">
            <label class="input-group-text" for="username"><fa-icon [icon]="faUser"></fa-icon></label>
            <input type="text" class="form-control" id="username" placeholder="Introduzca su usuario" name="username" [(ngModel)]="username" required>
        </div>
        <div class="input-group mb-3">
            <label for="pwd" class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></label>
            <input type="password" class="form-control" id="pwd" placeholder="Introduzca su contraseña" name="pswd" [(ngModel)]="password">
        </div>
        <div class="input-group mb-3">
            <label for="website" class="input-group-text"><fa-icon [icon]="faGlobe"></fa-icon></label>
            <input type="url" class="form-control" id="website" placeholder="Introduzca la web de su empresa" name="website" [(ngModel)]="website">
        </div>
        <div class="input-group mb-3">
            <label for="tel" class="input-group-text"><fa-icon [icon]="faPhone"></fa-icon></label>
            <input type="tel" class="form-control" id="tel" placeholder="Introduzca el teléfono de su empresa" name="tel" [(ngModel)]="phonenumber">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="signUp()">Registrarse</button>
        <p>¿Prefieres registrarte como usuario básico? <a routerLink="/register">Registrarse como usuario básico</a></p>
        <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
    </form>
</div>
