<nav *ngIf="navService.visible" class="navbar navbar-expand-lg navbar-dark py-1 bg-sofistic">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img class="logo" src="../../../assets/images/mapache.png">
        </a>

        <div class="collapse navbar-collapse">
            <div [ngClass]="{'transition navbar-nav text-white': ''}" >

                <div class="hdivider"></div>

                <div class="nav-item ms-2">
                    <button (click)="goAddEve()">Crear Evento</button>
                    <button (click)="goEveList()">Ver eventos</button>
                    <button (click)="gologin()">login</button>
                    <button (click)="goProfile()">perfil</button>
                    <button (click)="deleteAcount()">Eliminar cuenta</button>
                    <button (click)="goSponsor()">Ser sponsor</button>
                    <button (click)="logout()">Cerrar Sesión</button>
                </div>

            </div>
            <ul class="navbar-nav align-items-center ms-auto">     
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="avatar avatar-xs">
                    <img src="" class="avatar-icon" alt="User">
                    <span class="avatar-name">{{this.userName}}</span>
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item clickable" href="/porfile">Configuración</a></li>
                  <li><a class="dropdown-item clickable" (click)="logout()">Cerrar sesión</a></li>
                </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>
