<div class="container caja">
    <h1>Estadísticas del juego</h1>
    <div class="card">
        <div class="card-header" style="background-color: var(--primary) ">
            <h4 class="">
                                <span class="badge" [ngClass]="{
                                    'bg-success': game.difficulty === 0,
                                    'bg-warning': game.difficulty === 1,
                                    'bg-danger': game.difficulty === 2
                                }">{{ getDifficultyName(game.difficulty) }}</span>
            </h4>
            <h2 class="card-title" style="color: white">{{ game.name }} </h2>
        </div>
        <div class="card-body">
            <h4>Veces jugado: {{ game.timesPlayed }}</h4>
            <h4>Preguntas:</h4>
            <ul class="list-group" *ngFor="let question of game.questions; let i = index" >
                <h6>Pregunta {{i}}: {{ question.title }}</h6>
                <li class="list-group-item text-success" >
                     - Aciertos: {{ question.corrects }}
                </li>
                <li class="list-group-item text-danger">
                    - Fallos: {{ game.timesPlayed - question.corrects }}
                </li>
                <li *ngIf="game.timesPlayed>0" class="list-group-item text-secondary" >
                    - Porcentaje de acierto: {{ (question.corrects / game.timesPlayed * 100).toFixed(2) }}%
                </li>
                <li *ngIf="game.timesPlayed==0" class="list-group-item text-secondary" >
                    - Porcentaje de acierto: 0%
                </li>
            </ul>
            - Puntuación media: {{ (averageScore).toFixed(2) }}
        </div>
    </div>
</div>



