.caja{
    padding-top: 6rem;
}

h1{
    text-align: center;
    color: var(--primary);
}


.card{
    margin: 2rem auto;
    border-radius: 10px;
    background: #ffffff;

    box-shadow: 0.5rem 0.5rem 1rem 0.05rem rgba(0, 0, 0, 0.28);
    width: fit-content;
}
.card-body{
    padding: 1rem 2rem 2rem;
}

.list-group-item{
    border: none;
    
}

.text-secondary{
    margin-bottom: 1rem;
}

li{
    margin: 0;
    padding: 0;
    font-weight: bold;
}