<script src="../../../assets/multiselect-dropdown.js"></script>

<div class="container">
    <div class="row mb-5">
        <div class="col-lg-8 mx-auto">
            <div class="bg-white p-3 rounded shadow">

                <form [formGroup]="submitSearch">
                    <!-- BÚSQUEDA BÁSICA -->
                    <div class="input-group mb-4 border rounded-pill shadow-sm p-1">
                        <input type="search" formControlName="query" placeholder="¿Qué buscas?" aria-describedby="button-addon3" class="form-control bg-none border-0">
                        <div class="input-group-append border-0">
                            <button id="button-addon3" type="submit" (click)="submitSearchFunction()" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                        </div>


                        <div class="mr-2" style="display: flex; justify-content: flex-end">
                            <button class="btn btn-success" data-toggle="collapse" href="#collapseOptions" role="button" aria-expanded="false" aria-controls="collapseOptions">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                                </svg>

                            </button>
                        </div>

                    </div>
                </form>
                <!-- FIN BÚSQUEDA BÁSICA -->
                <!-- BÚSQUEDA AVANZADA -->
                <div class="collapse" id="collapseOptions">
                    <!-- BÚSQUEDA AVANZADA EVENTOS -->
                    <ng-container *ngIf="isEventSearch">

                        <td class="card card-body">

                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px; color: var(--primary) !important;">Búsqueda Avanzada</h6>

                            <form novalidate [formGroup]="submitSearchAdvance">
                                <div style="border-spacing: 10px; border-collapse: separate;">

                                    <div class="row">
                                        <div class="col-md-8 box">

                                            <h6>Título</h6>
                                            <input type="text" formControlName="title" placeholder="Título" aria-describedby="button-addon3" class="form-control">
                                            <!--<div class="input-icons">
                                                <i class="fa fa-font icon"></i>
                                                <input type="text" formControlName="title" placeholder="Título" aria-describedby="button-addon3" class="form-control input-field">
                                            </div>-->
                                        </div>
                                        <div class="col-md-4 box">
                                            <h6>Localización</h6>
                                            <input type="text" formControlName="location" placeholder="Localización" aria-describedby="button-addon3" class="form-control">
                                            <!--<div class="input-icons">
                                                <i class="fa fa-map-marker icon" aria-hidden="true"></i>
                                                <input type="text" formControlName="location" placeholder="Localización" aria-describedby="button-addon3" class="form-control input-field">
                                            </div>-->
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-8 box">
                                            <h6>Etiquetas</h6>
                                            <ng-multiselect-dropdown formControlName="selectedTags" required="false"
                                                                     [placeholder]="'Etiquetas'"
                                                                     [settings]="dropdownSettingsTags"
                                                                     [data]="dropdownListTags"
                                                                     [(ngModel)]="selectedTags">
                                            </ng-multiselect-dropdown>
                                        </div>
                                        <div class="col-md-4 box">
                                            <h6>Rango de edad</h6>
                                            <ng-multiselect-dropdown formControlName="age" required="false"
                                                                     [placeholder]="'Rango de edad'"
                                                                     [settings]="dropdownSettingsAge"
                                                                     [data]="dropdownListAge"
                                                                     [(ngModel)]="selectedAge">
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row align-items-center">
                                        <div class="col-md-4 box">
                                            <h6>Desde</h6>
                                            <input type="date" formControlName="iniDate" placeholder="Fecha inicio" aria-describedby="button-addon3" class="form-control">
                                        </div>
                                        <div class="col-md-4 box">
                                            <h6>Hasta</h6>
                                            <input type="date" formControlName="endDate" placeholder="Fecha fin" aria-describedby="button-addon3" class="form-control">
                                        </div>
                                        <div class="col-md-4 box">
                                            <h6>Organizador</h6>
                                            <input type="text" formControlName="userCompany" placeholder="Organizador" aria-describedby="button-addon3" class="form-control">
                                            <!--<div class="input-icons">
                                                <i class="fa fa-suitcase icon"></i>
                                                <input type="text" formControlName="userCompany" placeholder="Organizador" aria-describedby="button-addon3" class="form-control input-field">
                                            </div>-->
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row align-items-end text-right">
                                        <div class="col-md-8 box">
                                            <h6 class="text-left">Descripción</h6>
                                            <textarea style="height: 100px;" formControlName="description" placeholder="Descripción" aria-describedby="button-addon3" class="form-control"></textarea>

                                        </div>
                                        <div class="col-md-4 box" style="position: relative">
                                            <button type="submit" (click)="submitSearchAdvanceFunction()" class="btn btn-success">
                                                <i class="fa fa-search"></i>
                                                Búsqueda Avanzada
                                            </button>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                            </form>





                    </ng-container>


                    <ng-container *ngIf="!isEventSearch">

                        <td class="card card-body">

                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px; color: var(--primary) !important;">Búsqueda Avanzada</h6>

                            <form novalidate [formGroup]="submitSearchAdvance">
                                <div style="border-spacing: 10px; border-collapse: separate;">

                                    <div class="row">
                                        <div class="col-md-8 box">

                                            <h6>Título</h6>
                                            <input type="text" formControlName="title" placeholder="Título" aria-describedby="button-addon3" class="form-control">
                                        </div>
                                        <div class="col-md-4 box">
	                                        <h6>Dificultad</h6>
	                                        <ng-multiselect-dropdown formControlName="difficulty" required="false"
	                                                                 [placeholder]="'Dificultad'"
	                                                                 [settings]="dropdownSettingsDifficulty"
	                                                                 [data]="dropdownListDifficulty"
	                                                                 [(ngModel)]="selectedDifficulty">
	                                        </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row align-items-center">
                                        <div class="col-md-4 box">
                                            <h6>Cantidad de preguntas</h6>
                                            <input type="number" formControlName="numQuestions" placeholder="Cantidad de preguntas" aria-describedby="button-addon3" class="form-control">
                                        </div>
                                        <div class="col-md-4 box">
                                            <h6>Cantidad de veces jugado</h6>
                                            <input type="number" formControlName="numPlayers" placeholder="Cantidad de veces jugado" aria-describedby="button-addon3" class="form-control">
                                        </div>
                                        <div class="col-md-4 box">
                                            <h6>Creador</h6>
                                            <input type="text" formControlName="user" placeholder="Creador" aria-describedby="button-addon3" class="form-control">
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row align-items-end text-right">
                                        <div class="col-md-8 box">
                                            <h6 class="text-left">Descripción</h6>
                                            <textarea style="height: 100px;" formControlName="description" placeholder="Descripción" aria-describedby="button-addon3" class="form-control"></textarea>

                                        </div>
                                        <div class="col-md-4 box" style="position: relative">
                                            <button type="submit" (click)="submitSearchAdvanceFunction()" class="btn btn-success">
                                                <i class="fa fa-search"></i>
                                                Búsqueda Avanzada
                                            </button>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                            </form>

                    </ng-container>

                </div>
            </div>
            <!-- FIN BÚSQUEDA AVANZADA-->




        </div>

    </div>
</div>