<form action="/action_page.php">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class=" registerBody">
    <label>Sign Up</label>
    <form class="formReg" method="post">
        <input
                type="email"
                [(ngModel)]="email"
                name="email"
                placeholder="Email"
                required="required"/>
        <input
                type="password"
                [(ngModel)]="password"
                name="password"
                placeholder="Password"
                minlength="6"
                required="required"/>
        <div>
            <button  class="buttonWhite" type="submit" (click)="register()">Sign Up</button>
        </div>
        <p>Already have an account? <a routerLink="/login">Login</a></p>
    </form>
</div>
