.optionContainer {
    list-style: none;
    padding-inline:0;
    padding-top:20px;
}

.option{
    padding-left:0;
    padding-top:20px;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #aac7a9;
}

/deep/ .mat-slide-toggle .mat-slide-toggle-bar {
    background-color: #7d9678;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--primary);
}

/deep/ .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: var(--primary);
}

.submitButton, .btn-primary{
    color: white;
    background: var(--primary) !important;

}
input {
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    background: white;
    border: none;
}

.form-control{
    box-shadow: inset 0.1rem 0.1rem 0.2rem 0.05rem rgba(0, 0, 0, 0.35);

}