<div>
    <h2 mat-dialog-title style="display: flex; justify-content: space-between; align-items: center;">
        Editar Pregunta
        <button mat-icon-button (click)="onClose()" tabindex="-1">
            <mat-icon aria-label="Cerrar ventana">close</mat-icon>
        </button>
    </h2>
    <mat-dialog-content>
        <form [formGroup]="addQuestionForm" novalidate>
        <!-- Title Zone-->

        <input class="form-control" type="text" placeholder="Pregunta" formControlName="title" style="width:100%" 
            (blur)="checkValidity('title')"
            [ngClass]="{'is-invalid': addQuestionForm.get('title')?.invalid && (addQuestionForm.get('title')?.touched || submitted), 'is-valid': addQuestionForm.get('title')?.valid && addQuestionForm.get('title')?.touched}">
        <div class="invalid-feedback" *ngIf="addQuestionForm.get('title')?.invalid && (addQuestionForm.get('title')?.touched || submitted)">El título de la pregunta es obligatorio</div>
        <!-- Score Zone-->

        <br />
        <div class="row" style="padding-top:20px">
            <div class="col-sm-9">
                <label style="justify-content: left;">Puntuación de la Pregunta:</label>
            </div>
            <div class="col-sm-3 text-right">
                <input class="form-control" style="width:100%" type="number" formControlName="points" 
                    (blur)="checkValidity('points')"
                    [ngClass]="{'is-invalid': addQuestionForm.get('points')?.invalid && (addQuestionForm.get('points')?.touched || submitted)}">
                <div class="invalid-feedback" *ngIf="addQuestionForm.get('points')?.invalid && (addQuestionForm.get('points')?.touched || submitted)">La puntuación de la pregunta es obligatoria</div>
            </div>
        </div>
        </form>

        <!-- Options Zone-->
        <div class="row was-validated">
            <ul class="optionContainer">
                <li class="option d-flex" *ngFor="let option of question.options; let i = index">
                    <div class="col-sm-7 justify-content-center">

                        <input class="form-control" type="text" value="option.body" [(ngModel)]="option.body" required/>
                        <div class="invalid-feedback" *ngIf="option.body == ''">El cuerpo de la opción es obligatorio</div>
                    </div>
                    <div class="col-sm-5">

                        <mat-slide-toggle [(ngModel)]="option.correct" (change)="changeState(i)" #correctSwitch>
                            <label style="padding-top:10px" *ngIf="option.correct">Correcto</label>
                            <label style="padding-top:10px" *ngIf="!option.correct">Incorrecto</label>
                        </mat-slide-toggle>
                    </div>

                </li>
            </ul>
        </div>


        <input [disabled]="question.options.length == 4" class="form-control" type="button" value="Añadir Opción" (click)="addOption()" />
    </mat-dialog-content>
    <!-- Errors Zone-->

    <mat-dialog-actions style="display: flex; justify-content: center; ">
        <button mat-button class="submitButton" (click)="confirm()">Aceptar</button>
        <div *ngIf="invalidOptions" class="text-danger">Debe haber al menos 2 opciones y una de ellas correcta.</div>
    </mat-dialog-actions>
</div>