.caja {
    margin: 0 auto;
    padding: 6rem;
    width: fit-content;
}

.caja-interno {
    border: solid #74d664 2px;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem #000000;
}

input {
    font-weight: bold;
    color: #7d9abb;
    width: 12.5rem;
    height: 1.5rem;
    border-radius: 5px;
    background: white;
    border: solid #74d664 1px;
}
input:hover {
    background: #A9D6A1;
    color: black;
}

.tags {
    height: 14rem;
    overflow: hidden visible;
    text-align: center
}
.age {
    height: 1.5rem;
    width: fit-content;
}

select {
    width: 12.5rem;
    font-weight: bold;
    color: #7d9abb;
    border: solid #74d664 1px;
    border-radius: 5px;
}

label {
    font-weight: bold;
    color: #7d9abb;
}
option {
    font-weight: bold;
    cursor: pointer;

}
option:hover {
    background: #A9D6A1;
    color: black;
}
.inputDerecha {
    padding-left: 2.5rem;
}

.inputIzquierda {
    padding-left: 0.5rem;
}
textarea {
    font-weight: bold;
    width: 25.5rem;
    height: 8rem;
    font-size: 15px;
    resize: none;
    color: #7d9abb;
    border: solid #74d664 1px;
    border-radius: 5px;
}
textarea:focus {
    background: #A9D6A1;
    color: black;
}
textarea.hover {
    background: #A9D6A1;
    color: black;
}

.locationInput {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0.35rem;
    

}
.themeTag {
    width: 10rem;
    border-radius: 10px;
    font-weight: bold;
    border: solid #74d664 1px;
    display: inline-block;
    vertical-align: middle;
}

    .themeTag img {
        width: 15px;
        height: 15px;
        cursor: pointer;
        vertical-align:middle;
        padding-right:10px;
        float: right;
    }
.boton {
    width: 8rem;
    height: 1.8rem;
    background: white;
    color: #7d9abb;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: solid #74d664 1px;
    box-shadow: 0 0 0 #ABB7A7;
}
.boton:hover {
    background: #A9D6A1;
    color: black;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: red;
}