@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

$white: #fff;
$black: #232323;
$gray: #8d8d8d;
$red: #e83f43;

* {
    box-sizing: border-box;

    &::before, &::after {
        box-sizing: border-box;
    }
}

body {

    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
    color: $gray;
    background: $white;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

a {
    color: $gray;
    text-decoration: none;

    &:hover {
        color: $black;
    }
}
.container {
    padding-top: 4.3rem;
}
nav {
    position: relative;
    z-index: 2;
    padding: 1.25rem 0 1.25rem 0;

    ul {
        line-height: 2.2;
        display: flex;
        justify-content: flex-start;

        li {
            margin: 0.325rem 0;
        }
    }
}
.smallImage {
    height: auto;
    width: 20rem;
}

#logo {
    color: $black;
    font-weight: 700;
    font-size: 1.125rem;
}

#highlight {
    color: $red;
}

img {
    width: 100%;
    height: 43vh;
    object-fit: cover;
}

.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    position: relative;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 0.1s 0.3s ease forwards;

    .title {
        display: inline-block;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1;
    }

    .titleDerecha {
        display: inline-block;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.1;
    }
}
.textReversed {
    color: white;
    filter: brightness(100%);
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    z-index: 1;
}
.image-with-caption {
    position: relative;
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.barra {
    height: 100%; /* ajusta la altura según tus necesidades */
    margin: 0 10px; /* ajusta el margen según tus necesidades */
}

.names {
    margin: 0 10px; /* ajusta el margen según tus necesidades */
}
.faceContainer {
    margin-top: 50px;
    display: flex;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.description-border {
    border: 2px solid #74d664;
    border-radius: 20px;
}
.description {
    padding: 15px;
    position: relative;
    z-index: 1;
    margin: 1rem 0 1.5rem 0;
    font-size: 1rem;
    opacity: 0;
    text-align: justify !important;
    animation: fadeIn 0.1s 0.3s ease forwards;
}
.descriptionDerecha {
    position: relative;
    z-index: 1;
    margin: 1rem 0 1.5rem 0;
    font-size: 1rem;
    opacity: 0;
    text-align: justify !important;
    animation: fadeIn 0.1s 0.3s ease forwards;
}
.slider-item {
    display: none;

    &.active {
        display: block;

        .hide-mobile {
            display: none;
        }

        .show-mobile {
            display: block;
            margin: 1rem 0;
        }
    }
}
.grid {
    flex-direction: row;
    flex-wrap: wrap;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    font-size: inherit;
    width: 55px;
    height: 55px;
}
.monica {
    background-image: url('../../../assets/images/monica.jpg');
    background-position: center;
    background-size: cover;
}
.david {
    background-image: url('../../../assets/images/david.jpg');
    background-position: center;
    background-size: cover;
}
.feli {
    background-image: url('../../../assets/images/feli.jpg');
    background-position: center;
    background-size: cover;
}
.feliu {
    background-image: url('../../../assets/images/feliu.jpg');
    background-position: center;
    background-size: cover;
}
.reversed {
    height: 418px;
    width: 247px;
    filter: brightness(25%);
    position: relative;
}
.reversalImage{
    cursor:pointer
}
.controls {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0 0.25rem 0;

    .previous {
        border: 1px solid $black;
    }

    .next {
        border-top: 1px solid $black;
        border-right: 1px solid $black;
        border-bottom: 1px solid $black;
    }

    .icon {
        position: relative;
        margin: auto;
        width: 50px;
        height: 1px;
        background-color: currentColor;

        &.arrow-left {
            &::before {
                content: '';
                position: absolute;
                left: 1px;
                top: -4px;
                width: 9px;
                height: 9px;
                border-top: solid 1px currentColor;
                border-right: solid 1px currentColor;
                transform: rotate(-135deg);
            }
        }

        &.arrow-right {
            &::before {
                content: '';
                position: absolute;
                right: 1px;
                top: -4px;
                width: 9px;
                height: 9px;
                border-top: solid 1px currentColor;
                border-right: solid 1px currentColor;
                transform: rotate(45deg);
            }
        }
    }
}


.previous, .next {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 25%;
    font-size: 50rem;
    color: $black;
    border: 1px solid $black;


    &:hover .icon {
        transform: scale(1.5);
    }

    .icon {
        transition: transform 0.1s ease;
    }
}

.image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes revealRight {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.toggle-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    line-height: 1.9;

    i {
        font-size: 1.5rem;
        line-height: 1.3;
        margin: 0 0 0 0.5rem;
    }
}

.flex-nav ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    width: 100%;
    left: 0;
    padding: 1rem;
    background: $white;
    text-align: center;

    &.active {
        display: flex;
    }
}
.column-xs-12 {
    flex: 1 0 100%;
}
.column-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.column-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container img {
    width: 30%;
    height: 30%;
    margin-right: 10px;
}

.tg {
    table-layout: fixed;
    width: 100%;
}

.tg th,
.tg td {
    width: 20%; /* Adjust the percentage value as needed */
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th, td {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.comp {
    font-weight: bold;
    text-align: center;
}

.table_label {
    text-align: center;
    font-weight: bold;
}

.table_data {
    text-align: left;
}
td{
    padding: 5px;
}